.fundo__title{
    text-align: center;
    font-size: var(--titulo-main);
    color: var(--text-title);
    text-transform: uppercase;
    font-size: 4.0rem;
    color: rgb(0, 0, 0);
}
footer{
    width: 100%;
    height: 80px;
    background-color: var(--bg-dark);
    color: var(--text-main);
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    list-style-type: none; /* Remove a bolinha */
    padding: 0;            /* Remove o recuo padrão da lista */
    margin: 0;             /* Remove as margens */
    font-size: 22px;
}

/* Estilos para os elementos de formulário */
input, select, textarea, label, legend{
  font-size: 21px;
}
.texto-genero {
    font-size: 23px;
}
select {
    width: 200px;
}
select option {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.informacoes-contato {
    display: flex;
    gap: 250px;
}

.fundo__title_h2 {
    text-align: center;
    font-size: var(--titulo-main);
    color: var(--text-title);
    text-transform: uppercase;
    font-size: 2.0rem;
    color: rgb(0, 0, 0);
}